body {
    background-color:#000000;
    text-align: center;
    color:#fff;
    padding-top:10em;
  }
  
  * { color:#fff; text-decoration: none;}

    h1 {
        font: 2em/1.5em 'Inter-Bold', sans-serif;
        font-size: 6.4em;
        font-weight: bold;
        margin-bottom: 0;
    }
    p {
      font: 1.2em/1.5em 'Inter-Regular', sans-serif;
      font-size: 1.3em;
      font-weight: normal;
      margin-bottom: 0;
    }
